.validating-textbox {
    position: relative;
    width: 100%;
}

input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.dropdown {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 1;
}

.red-color {
    color: #b41414;
}
